/**
 * Main
 */

.main {
  width: min(100%, 768px);
  min-height: calc(100vh - 18rem);
  margin: 0 auto;
  padding: 0 clamp(0.75rem, 2%, 1.5rem);

  h2 > span {
    font-family: "Cormorant Garamond", serif;
  }

  ul {
    margin: space(4) 0;
  }
}
